* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'Helvetica', 'sans-serif';
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(177, 166, 166);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    scale: 70%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    background-color: gray;
    color: #fff;
    font-size: 1.4rem;
    width: 100%;
}

.logo-text {
    color: #fff;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 1000;
}

.details span {
    margin-left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 330px;
    height: 540px;
    background-color: rgb(48, 46, 46);
    padding: 18px;
    margin-top: 30px;
}

.input-field {
    height: 64px;
    width: 100%;
    background-color: rgba(58, 104, 58, 0.247);
    text-align: right;
    border: 1px solid black;
    font-size: 26px;
    padding: 6px;
    margin-bottom: 12px;
}

input:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.number {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgb(21, 68, 53);
    color: #fff;
    margin: 3px;
    font-weight: 900;
}

footer {
    color: #fff;
    font-size: 0.8rem;
    margin-top: 18px;
}